.header{
    color: black;
    background-color: aquamarine;
    font-size: x-large;
}

.content{
    color: black;
    font-size: medium;
}

.footer{
    color: black;
    font-size: medium;
    background-color: aquamarine;
}
